body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 768px;
  background-color: #c9f9ff;
  padding: 0;
}

header {
  border-bottom: 1px solid #222;
  margin: 0 0 0 0;
  padding: 1rem 1rem 0 1rem;
  background-color: #90d7ff;
}
main{
  padding: 1rem;
  background-color: azure;
}
header h1{
  margin: 0;
  color:#2c302e;
  font-family:'Times New Roman', Times, serif;
}

footer {
  border-top: 1px solid #222;
  padding: 2rem;
}
footer, footer p {
  margin-bottom: 0;
  background-color:aliceblue;
}

a {
  color: #2c302e;
  text-decoration: none;
}
a.link::before{
  content: '🔗';
}
#TableOfContents{
  display: block;
  user-select: none;
  transition: height 0.3s;
  overflow: hidden;
}
#TableOfContents li{
  list-style-type: none;
}
#TableOfContents > ul > li::before{
  content:'#️⃣';
}
#TableOfContents > ul > li li::before{
  content:'📍';
}
.table-of-content-heading::before{
  content: '🔎';
}
.table-of-content-heading::after{
  content: '🗺️';
}
.table-of-content-heading{
  user-select: none;
  border-bottom-left-radius: 5px;
  box-shadow: #c7cece 1px 1px 8px;
  padding: 10px;
 
}
main h2::before, main h3::before{
  content:'⚓';
}
.main-heading::before{
  content: '🤩';
}
.main-heading::after{
  content: '📖';
}
.summary-heading-in-category::before{
  content: '👉';
}
.summary-heading-in-category::after{
  content: '📕';
}
main .tags ul{
  flex: auto;
}
main .tags li{
  list-style: none;
  display: inline;
  flex-wrap: wrap;
}
main .tags li::before{
  content: '🏷️';
}
main .tags div div{
  border-bottom: #90d7ff 2px solid;
  color:#2c302e;
}
main .tags div div::after{
  content: '🔖';
  position: absolute;
}

/*Nav Bar*/
header nav ul{
  margin: 0;
}
.menu-item {
  list-style-type: none;
  display:inline-block;
}
.menu-item:hover {
  background-color:#c9f9ff;
}
.menu-item>.active::after {
  content: '🚀';
  position:absolute ;
}
.menu-item a{
  padding: 1rem;
  display: inline-block;
}
/*Pagination*/
ul.pagination{
  margin-top: 60px;
  flex:auto;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
li.page-item{
  flex-wrap: wrap;
  text-align: center;
  flex-shrink: 0;
  list-style: none;
}
li.page-item.active a{
  background-color: #c9f9ff;
}
li.page-item a{
  border: #c9f9ff 2px solid;
  background-color:#90d7ff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  display: inline-block;
}


.highlight > div{
  width:100%;
  overflow: auto;
}
.highlight::before{
  content: '🤖';
}

.summary{
  border-top: black 2px solid;
  border-top-right-radius: 5%;
  border-bottom: black 2px solid;
  border-bottom-left-radius: 5%;
  font-size: x-small;
  font-family: 'Times New Roman', Times, serif;
  opacity: 85%;
}
.summary:hover{
  opacity: 100%;
}
.summary-heading{
  margin-bottom: 0;
}
.summary-heading::before{
  content: '👉';
}
.summary-heading::after{
  content: '📕';
}
.paginateSec{
  flex:auto;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.paginateSec a{
  flex-wrap: wrap;
  text-align: center;
  flex-shrink: 0;
  border: #c9f9ff 2px solid;
  background-color:#90d7ff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 1;
  display: inline-block;
  padding: 1.5rem;
}

img{
  max-width:100%;
  margin: 10px auto 10px auto;
  display: block;
  border-radius: 2%;
  box-shadow: #2c302e 1px 1px 4px;
}


